*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
body{
    overflow-x: hidden;
    background-image: url(cover-pic/calib.jpg);
    
    
    background-size: cover;
    
   
 
}

.src {
    height: 310px;
    background-image: url(/filtersearch/cover-pic/search\ results.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    font-size: 5pc;
    letter-spacing: 4.5pc;
 

}
.heading-part {
    background-image: linear-gradient( to right, #c4924a, #261916, white);
    
}

.apartment-overview {
    width: 80pc;
    margin-top: 0;
    
}
.navu li a{
    text-decoration: none;
    color: white;
}
.navu li{
  margin-left: 10px;
  padding: 5px;
  list-style: none;
}
.navu {
    font-size: 15px;
    
    
}
.footer {
    border-top: 1px solid white;
    width: 50%;
    position: absolute;
    top: 90%;
    left: 25%;
    
}
.rektan {
    position: relative;
    height: 30pc;
}
.srcfb {
    width: 40px;
    height:40px;
    border-radius: 10px;
    
}
.srcfb:hover {
    opacity: 0.7;
}
.logo-png {
    width: 6pc;
    position: absolute;
    top: 90%;
}
.fa
.fa-facebook {
    
}